<configuration>
  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/data/data/com.tajmoti.tulip/files/debug.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>/data/data/com.tajmoti.tulip/files/debug.%i.log.zip</fileNamePattern>
      <minIndex>1</minIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>8MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d{H:m:s.SSS} %-2level %logger{0}: %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="file" />
  </root>
</configuration>
