<configuration>
  <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
    <tagEncoder>
      <pattern>%logger{12}</pattern>
    </tagEncoder>
    <encoder>
      <pattern>[%thread] %msg %ex{short}</pattern>
    </encoder>
  </appender>

  <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>/data/data/com.tajmoti.tulip/files/debug.log</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
      <fileNamePattern>/data/data/com.tajmoti.tulip/files/debug.%i.log.zip</fileNamePattern>
      <minIndex>1</minIndex>
    </rollingPolicy>

    <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
      <maxFileSize>8MB</maxFileSize>
    </triggeringPolicy>
    <encoder>
      <pattern>%d{H:m:s.SSS} %-2level %logger{0}: %msg%n</pattern>
    </encoder>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="logcat" />
    <appender-ref ref="file" />
  </root>
</configuration>
