.img-letterbox {
    object-fit: contain;
}

.text-3-lines {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

/* CUSTOM WIDTHS */
.w-25, .w-xs-25 { width: 25%!important; }
.w-50, .w-xs-50 { width: 50%!important; }

/* BREAKPOINTS */

/* SM breakpoint */
@media (min-width: 576px) {
    /* CUSTOM WIDTHS */
    .w-sm-25 { width: 25%!important; }
    .w-sm-50 { width: 50%!important; }
}

/* MD breakpoint*/
@media (min-width: 768px) {
    /* CUSTOM WIDTHS */
    .w-md-25 { width: 25%!important; }
    .w-md-50 { width: 50%!important; }
}

/* LG breakpoint */
@media (min-width: 992px) {
    /* CUSTOM WIDTHS */
    .w-lg-25 { width: 25%!important; }
    .w-lg-50 { width: 50%!important; }
}

.progress-bar-done {
    width: 100%
}